.SkaterSelectorButton_default {
    width:1em;
    height:1em;
    border-radius: 20%;
    color: #61dafb;
}
.SkaterSelectorButton_default:hover{
    background-color:#686c94;
}
.SkaterSelectorButton_selected{
    color:#282c34;
    background-color: #61dafb;
}

.SkaterSelectorButton_selected:hover{
    background-color: #65A3C8;
}